* {
background-color: lightblue;
}

body {
font-family: Times new roman, sans-serif;
text-align: center;
margin-top: 50px;
}

#counter {
font-size: 48px;
margin: 20px 0;  /*what does this line mean?*/
}

button {
margin: 5px;
padding: 10px 20px;
font-size: 16px;
background-color: white;
}