body {
margin: 0;
padding: 0;
font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
background-color: #F2F0ED;
background-clip: text(
45deg,
rgba(0,0,0,0.02) 0px,
rgba(0,0,0,0.02) 20px,
transparent 20px,
transparent 40px);
color: #333;
}

header {
text-align: center;
padding: 20px;
}

header h2 {
font-weight: 600;
font-size: 2rem;
background-image: linear-gradient(90deg, #0078d7, #00b4d8);
background-clip: text;
-webkit-background-clip: text;
color: transparent;
text-aligh: center;
margin: 20px 0;
}

form {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 20px auto;
gap: 10px;
}

input[type="text"] {
padding: 10px 14px;
border: 1px solid #ccc;
border-radius: 6px;
font-size; 1rem;
width: 220px;
transition: border-color 0.3s ease;
}

input[type="text"]:focus {
outline: none;
border-color: #0078d7;
}

button {
padding: 10px 18px;
background-color: #0078d7;
color: #fff;
border: none;
border-radius: 6px;
font-size: 1rem;
cursor: pointer;
transition: background-color 0.3s ease;
}

button:hover {
background-color: #005a9e;
}

/* Results card */
#results {
max-width: 500px;
margin: 30px auto;
padding: 20px;
background-color: #fff;
border-radius: 12px;
box-shadow: 0 6px 16px rgba(0,0,0,0.1);
font-size: 1rem;
line-height: 1.6;
color: #333;
}

/*Poster image*/
#results img {
display: block; /*makes the image a block element*/
margin: 0 auto; /*auto left/right margins center it*/
width: 100%;
max-width: 250px;
border-radius: 8px;
margin-bottom: 15px;
box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}


/*Text details*/
#results p {
margin: 6px 0;
}

#results strong {
color: #0078d7; /*accent color for labels*/
}